*.pyc
*_run_log.txt
data/**
!/data/**/
!data/**/.gitkeep

!data/mappings/atm/src_ground_truth/**
!data/mappings/craftdroid/src_ground_truth/**

!data/json_tests/**/
!data/json_tests/atm/**/
!data/json_tests/atm/donor/**
!data/json_tests/atm/ground_truth/**
!data/json_tests/craftdroid/**/
!data/json_tests/craftdroid/donor/**
!data/json_tests/craftdroid/ground_truth/**
!data/original_tests/atm/ground_truth/**
!data/original_tests/atm/donor/**
!data/original_tests/craftdroid/donor/**
!data/original_tests/craftdroid/ground_truth/**


data.bak/
.idea/
**/.ipynb_checkpoints
config_template/config.toml
evaluation/config.toml
config.yml
venv
