aid,package,activity
a81,pl.com.andrzejgrzyb.shoppinglist,pl.com.andrzejgrzyb.shoppinglist.MainActivity
a82,br.com.activity,br.com.vansact.MainApp
a83,privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist,privacyfriendlyshoppinglist.secuso.org.privacyfriendlyshoppinglist.ui.tutorial.TutorialActivity
a84,org.openintents.shopping,org.openintents.shopping.ShoppingActivity
